@import "tailwindcss";
@import "katex/dist/katex.min.css";

.katex-display {
  overflow: auto hidden;
}

@plugin "@tailwindcss/typography";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@custom-variant dark (&:where(.dark, .dark *));
@custom-variant light (&:where(:not(.dark), :not(.dark *));
@custom-variant system (&:where(.system, .system *));
@custom-variant system-dark (&:where(.system) .dark, .system .dark);
